body {
  background-color: #000066;
}

#content {
  padding: 1%;
  border: solid 10px black;
  margin: 0px 15%;
  box-shadow: 10px 10px #669999;
  font-family: 'Helvetica';
  background-color: #00FA9A;
}

#titleBox {
  border: solid 10px black;
  border-radius: 25px;
  text-align: center;
  box-shadow: 5px 5px #669999;
  font-family: 'Helvetica';
}

#menuBox {
  border: 10px;
  margin: 5%;
  display: flex;
  justify-content: space-evenly;
}

.linkBox {
  padding: 15px;
  display: center;
  border: solid 5px black;
  border-radius: 10px;
  color: #ff0000;
}

.blogBox {
  border: solid 3px black;
  padding: 1%;
  border-radius: 10px;
  text-align: center;
  margin: 50px 0px;
  background-color: #000;
  color: #fff;
  box-shadow: 5px 5px #669999;
}

h1 {
  font-size: 500%;
}

h2 {
  font-size: 200%;
}

p {
  font-size: 20px;
}

.blogBox img {
  float: ;
}
